/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

@font-face {
    font-family: 'ecoico';
    src:url('../fonts/timelineicons/ecoico.eot');
    src:url('../fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'),
        url('../fonts/timelineicons/ecoico.woff') format('woff'),
        url('../fonts/timelineicons/ecoico.ttf') format('truetype'),
        url('../fonts/timelineicons/ecoico.svg#ecoico') format('svg');
    font-weight: normal;
    font-style: normal;
}

#intro {
width: 100%;
height: 100%;
background: url('../img/aaa.png') no-repeat fixed center center / cover transparent;
text-align: center;
position: relative;
border-bottom: 5px solid gray;
box-shadow:0px 3px 0px rgba(30, 38, 44, 0.2) inset;
}

#details {
text-align:center;
padding-top: 8px;
}

#third {
background: url('../img/dhk.jpg') no-repeat fixed center center / cover transparent;
text-align: center;
}

#speakers {
background: #EF7247;
border-bottom: 5px solid gray;
box-shadow:0px 3px 0px rgba(30, 38, 44, 0.2) inset;
padding-top: 50px;
height: auto;
padding-bottom: 50px;
}

#vote {
border-bottom: 5px solid gray;
box-shadow:0px 3px 0px rgba(30, 38, 44, 0.2) inset;
padding-top: 50px;
height: 350px;
padding-bottom: 50px;
text-align: center;
}

#venue {
background: #E7EBED;
border-bottom: 5px solid gray;
box-shadow:0px 3px 0px rgba(30, 38, 44, 0.2) inset;
padding-top: 50px;
height: auto;
padding-bottom: 50px;
}

#address {
background: url('../img/venue.jpg') no-repeat fixed center center / cover transparent;
text-align: center;
}

#contact {
background: none repeat scroll 0% 0% #4C5D67;
padding-bottom: 80px;
padding-top: 50px;
text-align:center;
box-shadow:0px 3px 0px rgba(30, 38, 44, 0.2) inset;
}

#footer {
background: none repeat scroll 0% 0% #2C3840;
padding-bottom: 20px;
padding-top: 20px;
text-align:center;
}

.slide-text {
color: #fff;
text-shadow: 2px 2px #000;
}

.about {
padding-top: 60px;
}
.about-1 {
width: 100%;
height: 200px;
background:	none repeat scroll 0% 0% #48A3A6;
margin-left: 20%;
margin-right: 20%;
color: #fff;
}

.about-2 {
width: 100%;
height: 200px;
background:	none repeat scroll 0% 0% #EF7247;
margin-left: 20%;
margin-right: 20%;
color: #fff;
}

.about-3 {
width: 100%;
height: 200px;
background:	none repeat scroll 0% 0% #F2BC47;
margin-left: 20%;
margin-right: 20%;
color: #fff;
}

.about-icon {
color: #fff;
font-size: 7.4em;
}

.left-text {
text-align: left;
}

.countdown {
border-top: 5px solid gray;
border-bottom: 5px solid gray;
height: 400px;
background: transparent;
box-shadow:0px 3px 0px rgba(30, 38, 44, 0.2) inset;
}

.tweet {
height: 300px;
background: #E7EBED;
padding-top: 60px;
border-bottom: 5px solid gray;
box-shadow:0px 3px 0px rgba(30, 38, 44, 0.2) inset;
}

.address-text {
padding-top: 110px;
border-bottom: 5px solid gray;
height: 400px;
background: transparent;
box-shadow:0px 3px 0px rgba(30, 38, 44, 0.2) inset;
}

.styled div {
  display: inline-block;
  margin-left: 30px;
  font-size: 72px;
  font-weight: 100;
  line-height: 1;
  border: 5px solid #fff;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 120px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 3px; 
  -o-border-radius: 100%;
}
/* IE7 inline-block hack */
*+html .styled div{
  display: inline;
  zoom: 1;
}
.styled div:first-child {
  margin-left: 0;
}
.styled div span {
  display: block;
  border-top: 1px solid #cecece;
  padding-top: 3px;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

.next-button {
float: right;
}

.prev-button {
float: right;
}

.speaker-info {
padding: 20px;
text-align: center;
}

.speaker-info:hover {
background: rgba(30, 38, 44, 0.2);
}

.cbp_tmtimeline {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
}
 
/* The line */
.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #afdcf8;
    left: 20%;
    margin-left: -10px;
}
 
.cbp_tmtimeline > li {
    position: relative;
}
 
/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    width: 25%;
    padding-right: 100px;
    position: absolute;
}
 
.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
}
 
.cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 0.9em;
    
}
 
.cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 1.9em;
    color: #3594cb;
}
 
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
    color: #6cbfee;
}
 
/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 15px 25%;
    background: #3594cb;
    color: #fff;
    padding: 2em;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 5px;
}
 
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background: #6cbfee;
}
 
.cbp_tmtimeline > li .cbp_tmlabel h2 {
    margin-top: 0px;
	margin-left: 10px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
 
/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #3594cb;
    border-width: 10px;
    top: 10px;
}
 
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #6cbfee;
}
 
/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
    width: 40px;
    height: 40px;
    font-family: 'ecoico';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #46a4da;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #afdcf8;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -25px;
}
 
.cbp_tmicon-phone:before {
    content: "\e000";
}
 
.cbp_tmicon-screen:before {
    content: "\e001";
}
 
.cbp_tmicon-mail:before {
    content: "\e002";
}
 
.cbp_tmicon-earth:before {
    content: "\e003";
}
 
/* Example Media Queries */
@media screen and (max-width: 65.375em) {
 
    .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 1.5em;
    }
}
 
@media screen and (max-width: 47.2em) {
    .cbp_tmtimeline:before {
        display: none;
    }
 
    .cbp_tmtimeline > li .cbp_tmtime {
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
    }
 
    .cbp_tmtimeline > li .cbp_tmtime span {
        text-align: left;
    }
 
    .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 0 30px 0;
        padding: 1em;
        font-weight: 400;
        font-size: 95%;
    }
 
    .cbp_tmtimeline > li .cbp_tmlabel:after {
        right: auto;
        left: 20px;
        border-right-color: transparent;
        border-bottom-color: #3594cb;
        top: -20px;
    }
 
    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
        border-right-color: transparent;
        border-bottom-color: #6cbfee;
    }
 
    .cbp_tmtimeline > li .cbp_tmicon {
        position: relative;
        float: right;
        left: auto;
        margin: -55px 5px 0 0px;
    }  
}

.vanue-selector {
padding-left: 40%;
}